name: build
on:
    workflow_dispatch:
    schedule:
      - cron: '0 0 * * *'
permissions:
  contents: write
jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
          - uses: actions/setup-python@v4
            with:
             python-version: '3.10'
          - uses: actions/setup-node@v3
            with:
              node-version: '18.12'
              
          # 后端构建
          - name: Checkout Backend
            run: |
              sudo apt install git wget -y
              git clone https://github.com/sub-store-org/Sub-Store.git
              sed -i 's#https://sub-store.vercel.app/#http://127.0.0.1:3000#g' 'Sub-Store/backend/src/restful/miscs.js'
              
          - name: Build Backend
            run: |
              npm install -g pnpm pkg
              cd Sub-Store/backend
              pnpm i
              pnpm run build
              pnpm run bundle
              
          # 前端构建  
          - name: Checkout Frontend
            run: |
              git clone https://github.com/sub-store-org/Sub-Store-Front-End.git
              sed -i 's#https://sub.store#http://127.0.0.1:3000#g' 'Sub-Store-Front-End/.env.production'
              
          - name: Build Frontend  
            run: |
              cd Sub-Store-Front-End
              pnpm i
              pnpm build
              
          # 整合前后端
          - name: Merge Frontend and Backend
            run: |
              mkdir -p Sub-Store/backend/dist/public
              cp -r Sub-Store-Front-End/dist/* Sub-Store/backend/dist/public/
              
          # 配置打包环境
          - name: Setup Package Config
            working-directory: Sub-Store/backend/dist
            run: |
              echo '{
                "name": "magicsub",
                "main": "./sub-store.bundle.js",
                "bin": "./sub-store.bundle.js",
                "pkg": {
                  "assets": [
                    "public/**/*"
                  ],
                  "targets": [
                    "node18-android-arm64"
                  ]
                }
              }' > package.json
              
          # 打包成二进制  
          - name: Package Binary 
            working-directory: Sub-Store/backend/dist
            run: |
              pwd
              ls -la
              pkg . --target node18-android-arm64 --output MagicSub
              
              mkdir -p ../../MyModule/system/bin
              mv MagicSub ../../MyModule/system/bin/


          - name: Upload Artifact
            uses: actions/upload-artifact@v3
            with:
              name: MagicSub
              path: MyModule/system/bin/MagicSub